.card{
    width:100%;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 70px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display:flex ;
    align-items: space;
    flex-direction: column;
    margin-top: 5px;

}


.card-body{
    display:flex;
}



.left-of-card{
    padding-left:10px;
}
.right-of-card{
    padding-left:20px;
}
.card:nth-child(even){
    background-color:rgba(187, 187, 187, 0.5);
}
.card:nth-child(odd){
    background-color:rgba(223, 223, 223, 0.5);
}




.tags *{

    flex-shrink: 0;
    font-family: "Helvetica Neue", Helvetica;
    border-radius: 5px;
    border-style:none;
    font-size:medium;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-right: 5px;
    margin-left: 2px;
    background-color: grey;
    color:white;


}


.tags a:hover{
    color: #f9ccca;
    text-decoration: none;
}
.tags .language{

    background-color: #f9ccca;
    text-decoration: none;
}
.tags .github{

    text-decoration: none;
}

